%h4 Backlog
%ul
  - @backlog.each.with_index do |issue, index|
    %li= "#{index + 1}. #{issue['title']}"

%h4 In progress
%ul
  - @in_progress.each.with_index do |issue, index|
    %li= "#{index + 1}. #{issue['title']}"

%h4 Done
%ul
  - @done.each.with_index do |issue, index|
    %li= "#{index + 1}. #{issue['title']}"
